
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="text-align: center;">
    <img class="img-fluid" src="~/img/employees.jpg" />
</div>

<h1>About Employers Web</h1>

<span>
    <p>
        Because it’s never just about a job; it’s always about the right fit.


    </p> At Bibis Group we help to connect and open doors for thousands of job seekers throughout Canada and United States every year.
    <p>We invest in lifetime relationships with the candidates we place and work hard to develop fulfilling careers for the professionals we serve.</p>
    <p>Recruiters at Bibis Group have strong relationships in the hidden job market.<p>
                                                                                    <p>Top best companies to work with who partner with us ensure their resume is always at the top of the pile. Find out where your talent could lead you next! </p>
</span>
